{% extends 'base.html' %}
 {%block body%}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{%for message in messages%}
<div class="ui {{message.tags}} message">
  <i class="close icon"></i>
  <div class="header">
    <strong>{{message.tags}} !</strong>
  </div>
  <p>{{message}}</p>
</div>
{%endfor%}
</br>

<div class="row ui container" style="margin:2em auto;">
{%for p in project %}
{% if p.project_url%}
<div class="col-md-7" style="margin-bottom: 1em;margin:0 auto;">
	<div class="card" style="padding: 1em;">

<h3 class="text-muted text-capitalize">Title : {{p.title}} (Complete)</h3><br>

<p class="text-muted">Sarted at : {{p.start_date}} <br>
Completed at : {{p.end_date|date}} <br>
Time to complete website : {{p.duration}}</p>
<hr>

<p><b>Owner</b>: 	{{p.website_owner}}</p><br>

<p><b>Challenges</b>:	{{p.challenges}} </p><br>

 
<p><b>Oustanding requirements</b>:	{{p.outstanding_requirements}}</p>

<br>
<p>Url Link to website : <a href="{{p.project_url}}" target="_blank">{{p.project_url}}</a></p><br>

<p>Website done by : {{p.user}}</p>
	








	</div>
</div>
{%else%}

<div class="col-md-7" style="margin-bottom: 1em;">
	<div class="card" style="padding: 1em;">

		{%for p in project %}

		<h3 class="text-center text-capitalize">{{p.title}}</h3>
		<br>


		{% if p.end_date%}
		
		{% else %}
		<h5>
		<a href="{%url 'complete_project' id=p.id%}" class="ui positive basic button">Project Complete</a>
		</h5>


		{%endif%}
		{% endfor %}
		<hr>

		<!--list-->
		<ol>
		{%for a in activity %}

			{% if a.done == False%}
		<li>{{a.activity}}  
			<a href="{% url 'done' id=a.id%}" class="ui green basic left attached button small"><i class="fa fa-check" aria-hidden="true"></i></a>
			<a href="{% url 'delete_list' id=a.id%}" class="right red basic attached ui button small"><i class="fa fa-times" aria-hidden="true"></i></a>
		</li>




			<br>

			{%else%}

		<li><del>{{a.activity}} </del></li><br>

			{%endif%}

		{%empty%}
		<p class="text-center text-muted">no activities/tasks for this project have been added.</p>
		{%endfor%}
		</ol>
	</div>
</div>
</br>

<div class="col-md-5">
<div class="card" style="padding: 1em;margin-bottom: 1em; ">

{%for p in project %}

{% if  p.complete == True %}
<form action="" method="post" class="ui form">
	<h3 class="text-center">Additional information</h3>
	<p class="text-muted">Add url for your projects(copy and paste url link from browser).</p>

    {% csrf_token %}

    {% bootstrap_form formurl%}
<br>
    <button type="submit" class="ui button">Submit</button>
</form>

{%else%}

<form action="" method="post" class="ui form" >
	<h3 class="text-center">Add task</h3>

    {% csrf_token %}
    
    <div class="field">
	    <label>Activity :</label>
	    <textarea rows="2" name="activity" cols="40" rows="10" maxlength="10000" class="form-control" placeholder="Activity" title="" required="" id="id_activity"></textarea>
	</div>

    <button type="submit" class="ui button">Submit</button>
</form>
{%endif%}

{%endfor%}

</div>
</div>
{%endif%}
{%endfor%}
</div>

{%endblock%}