{% extends 'base.html' %}
 {%block body%}
{% load bootstrap4 %}

<br>
<br>
{%for message in messages%}
<div class="ui {{message.tags}} message">
  <i class="close icon"></i>
  <div class="header">
    <strong>{{message.tags}} !</strong>
  </div>
  <p>{{message}}</p>
</div>


{%endfor%}
</br>



<div class="ui card" style="padding: 1em;margin:auto;">
      <a class="ui green ribbon label">Login to continue</a>
      <br>
<form action="{% url 'home' %}" method="post" class="ui form">


    {% csrf_token %}

  
<div class="field">
  <div class="ui left icon input large">
  <input  type="text" name="username" maxlength="254" title="" id="id_username" required="" placeholder="username">
  <i class="user icon"></i>
</div>  
</div>


<div class="field">
  <div class="ui left icon input large">
  <input type="password" name="password" maxlength="254" title="" id="id_password" required="" placeholder="password">
  <i class="key icon"></i>
</div>
</div>

    <button class="ui positive basic button submit large">Submit</button>
</form>
<br>
<p>Don't have an account? <br> <a href="{% url 'signup' %}" >Click here</a></p>
</div>
</div>

    {%endblock%}