{% extends 'base.html' %}
{%block body%}
{% load bootstrap4 %}
{% load crispy_forms_tags%}
<div class="ui container">
{%for message in messages%}
<div class="ui {{message.tags}} message">
  <i class="close icon"></i>
  <div class="header">
    <strong>{{message.tags}} !</strong>
  </div>
  <p>{{message}}</p>
</div>
{%endfor%}
</br>

<div class="col-md-5" style="margin:2em auto;margin-top: 2em;">
  <div class="card" style="padding: 1em;">
    <h3 class="text-muted text-center"> Add collaborators to your project</h3>
    <p class="text-muted text-center">Add collaborator by typing in username.</p>
    <br>

    <form action="" method="post" class="ui form">
  

    {% csrf_token %}
    {% bootstrap_form form%}
    <br>
    <button type="submit" class="ui olive basic button large">Submit</button>
</form>
    
  </div>
</div>
</div>

{%endblock%}