{% extends 'base.html' %}
{%block body%}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<div class="row ui container ui center aligned" style="margin:0 auto;margin-top: 3em;">
{%for message in messages%}
<div class="ui {{message.tags}} message">
  <i class="close icon"></i>
  <div class="header">
    <strong>{{message.tags}} !</strong>
  </div>
  <p>{{message}}</p>
</div>
{%endfor%}

</br>
 {% if p.update == False %}
 <h2 class="ui center aligned icon header">
  <i class="circular user icon"></i>
  {{p.user}}'s  Profile
</h2>

<p>{{p.bio}}</p>
<p> Contact me at {{p.email}}.</p>
<p>Websites : <span class="badge badge-info">{{count}}</span> |
Group Projects : <span class="badge badge-info">{{group_project}}</span></p>

<a href="{%url 'update' %}" class="ui blue  basic button"><i class="fa fa-edit" aria-hidden="true"></i> Update</a>

<button class="ui teal basic button" onclick="groupFunction()"><i class="fa fa-filter" aria-hidden="true"></i> Filter</button>
</div>








<div class="ui container">

<div id="web">
  <h3  class="text-center text-success" style="font-weight:800;"><i class="fa fa-code"></i> Completed websites:</h3>
<ol>
  <div class="ui cards">
{% for p in project%}

{% if p.project_url%}

  <div class="card">
    <div class="content">
      <div class="header">
        {{p.website_owner}}
      </div>
      <div class="meta">
        {{p.title}}
      </div>
      <div class="description">
       Duration : {{p.duration}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a href="{% url 'activity' id=p.id %}" class="ui basic green button">View</a>
        <a href="{% url 'delete_single_project' id=p.id %}" class="ui basic red button">Remove</a>
      </div>
    </div>
  </div>
  


<!--Website url : <a href="{{p.project_url}}" target="_blank">{{p.project_url|slice:":20" }}... </a>-->
{%endif%}

{% empty %}
<p class="text-muted text-center">You have not completed any websites/projects</p>
{%endfor%}
</div>
</ol>
</div>



<div id="group">
  <h3 class="text-center text-success" style="font-weight:800;"><i class="fa fa-laptop-code"></i> Group projects</h3>

  <div class="ui cards">
{% for p in profile_group_project %}
<!--startif-->
{% if p.lead == request.user%}


<div class="card">
    <div class="content">
      <div class="header">
        {{p.project_title}}
      </div>
      <div class="meta">
        Lead : {{p.lead}}
      </div>
      <div class="description">
       Status : {{p.status}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a href="{% url 'group-project' id=p.id%}" class="ui green basic button" title="view your group project">View</a>
        <a href="{% url 'close_project_owner' id=p.id%}" class="ui red basic button">Remove</a>
      </div>
    </div>
  </div>



{% else %}
<div class="card">
    <div class="content">
      <div class="header">
        {{p.project_title}}
      </div>
      <div class="meta">
        Lead : {{p.lead}}
      </div>
      <div class="description">
       Status : {{p.status}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a href="{% url 'group-project' id=p.id%}" class="ui green basic button" title="view your group project" data-content="join"><i class="fa fa-link" aria-hidden="true"></i></a>
        <a href="{% url 'leave_project' id=p.id%}" class="ui red basic button" data-content="Leave project"><i class="fa fa-walking" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

{% endif %}
<!--endif-->

{% empty %}

<p class="text-muted text-center">You have not been added to or created any group projects.</p>

{% endfor %}
</div>

</div>

</div>


{%else%}

<div class="ui container" style="margin: 0 auto;margin-top: 3em;">
<div class="card" style="padding: 1em;">
<form action="" method="post" class="ui form" enctype="multipart/form-data">
  <h3 class="text-center">Update Profile</h3>

    {% csrf_token %}


{% bootstrap_form form%}
    <br>
        <button type="submit" class="ui positive basic button">Submit</button>
</form>
</div>
</div>
{%endif%}



<script type="text/javascript">
var a = document.getElementById('group');
var b = document.getElementById('web');

function groupFunction() {
  if(a.style.display === 'block'){
    a.style.display = 'none';
    b.style.display ='block';
  }else{
    a.style.display = 'block';
    b.style.display = 'none';
  }
}
</script>

{%endblock%}