{% extends 'base.html' %}
 {%block body%}
{% load bootstrap4 %}

<br>
<br>
{%for message in messages%}
<div class="ui {{message.tags}} message">
  <i class="close icon"></i>
  <div class="header">
    <strong>{{message.tags}} !</strong>
  </div>
  <p>{{message}}</p>
</div>
{%endfor%}
</br>

<div class="eight wide column" style="margin: auto;">
<div class="ui card"  style="padding: 1em;margin:auto; ">
  <a class="ui green ribbon label"> Fill out form below!</a>
      <br>

 
<form action="" method="post" class="ui form">

    {% csrf_token %}
      <div class="field">
  <div class="ui left icon input large">
  <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" class="form-control" placeholder="Username" title="" required="" id="id_username">
  <i class="user icon"></i>
</div>
</div>
      

            <div class="field">
  <div class="ui left icon input large">
  <input type="password" name="password" autocomplete="new-password" class="form-control" placeholder="Password" required="" id="id_password">
  <i class="key icon"></i>
</div>
</div>
      <div class="field">
  <div class="ui left icon input large">
  <input type="password" name="password2" autocomplete="new-password" class="form-control" placeholder="Password confirmation" required="" id="id_password2">
  <i class="key icon"></i>
</div>
</div>


       <button class="ui positive basic button submit large">Submit</button>

</form>
</div>
</div>
</div>
    {%endblock%}