 {% extends 'base.html' %}
 {%block body%}
{% load bootstrap4 %}
<div class="ui container">
{%for message in messages%}
<div class="ui {{message.tags}} message">
  <i class="close icon"></i>
  <div class="header">
    <strong>{{message.tags}} !</strong>
  </div>
  <p>{{message}}</p>
</div>
{%endfor%}
<br>
<div class="col-md-4" style="margin:2em auto;margin-bottom: 1em;"> 
<div class="card" style="padding: 1em;">
<h3 class="text-center text-muted">Update task</h3>
<form action="" method="post" class="ui form">
    {% csrf_token %}
   

  <div class="field">

  <label for="id_task">Task</label>

  

   <textarea rows="2" maxlength="10000" name="task" class="form-control is-valid" placeholder="Task" title="" required="" id="id_task">{{task.task}}</textarea>

  </div>

  <div class="field">
<select class="ui dropdown" name="assign_collaborator_to_task"  title="" required="" id="id_assign_collaborator_to_task">

  {% for name in form.assign_collaborator_to_task  %}

    <option value="{{name.id}}">{{name}}</option>

  {% endfor %}

</select>



  </div>
    <button type="submit" class="ui purple basic button large">Submit</button>


</form>

</div>
</div>
</div>
    {%endblock%}